## Задание №1
Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [2]:
import pandas as pd
marketing_campaign = pd.read_csv("marketing_campaign.csv")
users = pd.read_csv("users.csv")
subscribers = pd.read_csv("subscribers.csv")

In [3]:
marketing_campaign.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [4]:
marketing_campaign.shape

(10037, 6)

In [5]:
users.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [6]:
users.shape

(10037, 3)

In [7]:
subscribers.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [8]:
subscribers.shape

(10037, 5)

In [9]:
merged_data = marketing_campaign.merge(users, how='inner', on='user_id')
merged_data = merged_data.merge(subscribers, how='inner', on='user_id')
merged_data.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True

## Задание №2
Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [10]:
merged_data.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

In [11]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

In [12]:
merged_data.nunique()

user_id                10037
date_served               31
marketing_channel          5
variant                    2
language_displayed         4
converted                  2
age_group                  7
language_preferred         4
subscribing_channel        5
date_subscribed           31
date_canceled            115
is_retained                2
dtype: int64

## Задание №3
Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [17]:
merged_data['marketing_channel'].loc[merged_data['is_retained'] == True].value_counts(normalize=True)

House Ads    0.392494
Instagram    0.204066
Facebook     0.203284
Email        0.116497
Push         0.083659
Name: marketing_channel, dtype: float64

## Задание №4
Определить самую раннюю дату подписки на сервис.

In [19]:
pd.to_datetime(merged_data['date_subscribed']).dropna().sort_values()[0]

Timestamp('2018-01-01 00:00:00')

## Задание №5
Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [23]:
merged_data['age_group'].loc[merged_data['is_retained'] == True].value_counts(normalize=True)

19-24 years    0.254887
24-30 years    0.213448
0-18 years     0.179046
30-36 years    0.095387
45-55 years    0.093041
36-45 years    0.089914
55+ years      0.074277
Name: age_group, dtype: float64

In [24]:
merged_data['language_preferred'].loc[merged_data['is_retained'] == True].value_counts(normalize=True)

English    0.921814
German     0.034402
Spanish    0.034402
Arabic     0.009382
Name: language_preferred, dtype: float64